# Plan Stage

-Create an acquire.py
-Create a prepare.py

# Acquire Stage

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
from acquire import get_connection, new_telco_churn_data, get_telco_churn_data
from env import username, host, password

In [ ]:
get_connection('telco_churn', username, host, password)
print('works')

In [ ]:
df = new_telco_churn_data()

In [ ]:
df.head()

In [ ]:
df = get_telco_churn_data()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe().transpose()

In [ ]:
df.value_counts

In [ ]:
sns.distplot(df.tenure)

In [ ]:
sns.distplot(df.senior_citizen)

In [ ]:
sns.distplot(df.monthly_charges)

In [ ]:
#acquire pieces work

# Prepare Stage

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split
from env import host, username, password
from acquire import get_connection, new_telco_churn_data, get_telco_churn_data
from prepare import num_distributions, clean_telco_churn, telco_churn_split, prep_telco_churn

In [ ]:
df.total_charges = pd.to_numeric(df.total_charges, errors='coerce').astype('float64')
df.total_charges = df.total_charges.fillna(value=0)
df.info()

In [ ]:
df.tail()

In [ ]:
df.replace('No internet service', 'No', inplace=True)

In [ ]:
df.replace('No phone service', 'No', inplace = True)

In [ ]:
df.head()

In [ ]:
df["is_female"] = df.gender == "Female"
df['is_female'] = (df['is_female']).astype(int)

df["partner"] = df.partner == "Yes"
df['partner'] = (df['partner']).astype(int)

df["dependents"] = df.dependents == "Yes"
df['dependents'] = (df['dependents']).astype(int)

df["phone_service"] = df.phone_service == "Yes"
df['phone_service'] = (df['phone_service']).astype(int)

df["streaming_tv"] = df.streaming_tv == "Yes"
df['streaming_tv'] = (df['streaming_tv']).astype(int)

df["streaming_movies"] = df.streaming_movies == "Yes"
df['streaming_movies'] = (df['streaming_movies']).astype(int)

df["paperless_billing"] = df.paperless_billing == "Yes"
df['paperless_billing'] = (df['paperless_billing']).astype(int)

df["churn"] = df.churn == "Yes"
df['churn'] = (df['churn']).astype(int)

df["multiple_lines"] = df.multiple_lines == "Yes"
df['multiple_lines'] = (df['multiple_lines']).astype(int)

df["online_security"] = df.online_security == "Yes"
df['online_security'] = (df['online_security']).astype(int)

df["online_backup"] = df.online_backup == "Yes"
df['online_backup'] = (df['online_backup']).astype(int)

df["device_protection"] = df.device_protection == "Yes"
df['device_protection'] = (df['device_protection']).astype(int)

df["tech_support"] = df.tech_support == "Yes"
df['tech_support'] = (df['tech_support']).astype(int)

In [ ]:
df.head()

In [ ]:
df = df.drop(columns =['payment_type_id', 'contract_type_id', 'internet_service_type_id'])

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['customer_id', 'gender'])

In [ ]:
df.tail()

In [ ]:
dummy_df = pd.get_dummies(df[['internet_service_type', 'contract_type','payment_type']], drop_first=False)

In [ ]:
dummy_df.head()

In [ ]:
dummy_df = dummy_df.rename(columns={'internet_service_type_DSL': 'dsl',
                                   'internet_service_type_Fiber optic': 'fiber_optic',
                                   'internet_service_type_None': 'no_internet',
                                   'contract_type_Month-to-month': 'monthly',
                                   'contract_type_One year': 'one_year',
                                   'contract_type_Two year': 'two_year',
                                   'payment_type_Bank transfer (automatic)': 'bank_transfer',
                                   'payment_type_Credit card (automatic)': 'credit_card',
                                   'payment_type_Electronic check': 'electronic_check',
                                   'payment_type_Mailed check': 'mailed_check'})

In [ ]:
dummy_df.head()

In [ ]:
dummy_df = dummy_df.rename(columns={'DSL': 'dsl'})

In [ ]:
dummy_df.head()

In [ ]:
df = pd.concat([df, dummy_df], axis =1)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df = df.drop(columns=['internet_service_type','contract_type','payment_type'])

In [ ]:
df.info()

In [ ]:
df.churn.value_counts()

In [ ]:
df.no_internet.value_counts()

In [ ]:
df.dependents.value_counts()

In [3]:
df = get_telco_churn_data()

In [ ]:
df = clean_telco_churn(df)

In [ ]:
df.head()

In [4]:
prep_telco_churn(df)

(      senior_citizen  partner  dependents  tenure  phone_service  \
 5707               1        1           0      72              1
 4471               0        1           1      56              1
 4994               1        0           0      60              1
 3458               1        1           0      25              1
 3818               0        0           0      20              1
 ...              ...      ...         ...     ...            ...
 4258               1        1           0      54              1
 328                0        0           0      15              1
 1405               1        1           0       1              1
 4266               1        1           0      60              1
 6864               0        1           0      67              1

       multiple_lines  online_security  online_backup  device_protection  \
 5707               1                0              0                  0
 4471               0                0              0                  0
 4994               1                1              1                  0
 3458               1                1              0                  0
 3818               1                1              0                  0
 ...              ...              ...            ...                ...
 4258               1                0              1                  0
 328                0                0              0                  0
 1405               1                0              0                  0
 4266               1                0              0                  1
 6864               0                1              1                  0

       tech_support  ...  dsl  fiber_optic  no_internet  monthly  one_year  \
 5707             0  ...    0            0            1        0         0
 4471             0  ...    0            1            0        0         1
 4994             0  ...    1            0            0        0         1
 3458             1  ...    1            0            0        1         0
 3818             1  ...    1            0            0        1         0
 ...            ...  ...  ...          ...          ...      ...       ...
 4258             0  ...    0            1            0        0         1
 328              0  ...    0            0            1        1         0
 1405             0  ...    0            1            0        1         0
 4266             0  ...    0            1            0        0         1
 6864             1  ...    1            0            0        0         0

       two_year  bank_transfer  credit_card  electronic_check  mailed_check
 5707         1              1            0                 0             0
 4471         0              1            0                 0             0
 4994         0              0            0                 1             0
 3458         0              0            1                 0             0
 3818         0              1            0                 0             0
 ...        ...            ...          ...               ...           ...
 4258         0              0            1                 0             0
 328          0              0            0                 0             1
 1405         0              0            0                 1             0
 4266         0              0            1                 0             0
 6864         1              0            1                 0             0

 [3943 rows x 27 columns],
       senior_citizen  partner  dependents  tenure  phone_service  \
 706                0        1           0      20              1
 3590               0        0           0      22              1
 4974               0        0           0      56              1
 5881               0        1           0      70              1
 594                0        0           0       3              1
 ...              ...      ...         ...     ...            ...
 5081               0        1           1      48              1
 1125               0        0           0       1              1
 518                0        0           0      11              1
 6344               0        1           1      38              1
 4082               0        0           1      27              1

       multiple_lines  online_security  online_backup  device_protection  \
 706                1                1              0                  0
 3590               0                1              0                  0
 4974               0                1              0                  1
 5881               0                0              0                  0
 594                0                0              1                  0
 ...              ...              ...            ...                ...
 5081               0                0              1                  1
 1125               0                0              0                  0
 518                0                0              0                  0
 6344               1                0              0                  1
 4082               0                0              0                  0

       tech_support  ...  dsl  fiber_optic  no_internet  monthly  one_year  \
 706              0  ...    0            1            0        1         0
 3590             0  ...    1            0            0        1         0
 4974             1  ...    1            0            0        0         1
 5881             0  ...    0            0            1        0         0
 594              1  ...    0            1            0        1         0
 ...            ...  ...  ...          ...          ...      ...       ...
 5081             0  ...    1            0            0        0         1
 1125             0  ...    0            1            0        1         0
 518              0  ...    0            0            1        1         0
 6344             1  ...    0            1            0        0         0
 4082             0  ...    0            0            1        0         1

       two_year  bank_transfer  credit_card  electronic_check  mailed_check
 706          0              0            0                 1             0
 3590         0              0            1                 0             0
 4974         0              0            1                 0             0
 5881         1              0            1                 0             0
 594          0              0            0                 1             0
 ...        ...            ...          ...               ...           ...
 5081         0              0            1                 0             0
 1125         0              0            0                 1             0
 518          0              0            0                 0             1
 6344         1              1            0                 0             0
 4082         0              0            1                 0             0

 [1691 rows x 27 columns],
       senior_citizen  partner  dependents  tenure  phone_service  \
 3960               0        0           0      13              1
 2131               1        0           0      64              1
 5313               0        1           0      54              1
 4295               0        1           1      62              1
 772                0        0           0      38              1
 ...              ...      ...         ...     ...            ...
 879                0        0           0       4              1
 4486               0        0           1      35              1
 6227               0        1           1      58              1
 3258               0        0           0      13              1
 815                0        1           1      21              1

       multiple_lines  online_security  online_backup  device_protection  \
 3960               0                0              0                  0
 2131               1                1              1                  0
 5313               1                0              0                  0
 4295               1                0              1                  0
 772                0                1              1                  1
 ...              ...              ...            ...                ...
 879                1                0              1                  0
 4486               0                0              0                  1
 6227               1                0              0                  1
 3258               0                1              0                  0
 815                0                0              1                  0

       tech_support  ...  dsl  fiber_optic  no_internet  monthly  one_year  \
 3960             0  ...    0            0            1        0         1
 2131             0  ...    0            1            0        1         0
 5313             0  ...    1            0            0        0         1
 4295             1  ...    0            1            0        0         1
 772              0  ...    0            1            0        1         0
 ...            ...  ...  ...          ...          ...      ...       ...
 879              1  ...    0            1            0        1         0
 4486             0  ...    0            1            0        0         1
 6227             1  ...    0            1            0        0         0
 3258             0  ...    1            0            0        1         0
 815              0  ...    0            1            0        1         0

       two_year  bank_transfer  credit_card  electronic_check  mailed_check
 3960         0              0            1                 0             0
 2131         0              1            0                 0             0
 5313         0              0            1                 0             0
 4295         0              0            1                 0             0
 772          0              0            1                 0             0
 ...        ...            ...          ...               ...           ...
 879          0              0            0                 1             0
 4486         0              0            0                 1             0
 6227         1              1            0                 0             0
 3258         0              0            0                 1             0
 815          0              1            0                 0             0

 [1409 rows x 27 columns])

In [6]:
train, validate, test = prep_telco_churn(df)

In [ ]:
telco_churn_split(df)

In [7]:
train.head()

,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,...,dsl,fiber_optic,no_internet,monthly,one_year,two_year,bank_transfer,credit_card,electronic_check,mailed_check
1515,1,0,0,25,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2901,0,0,0,2,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
805,0,0,0,61,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
2234,0,0,0,3,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
6447,0,0,0,63,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0